<!DOCTYPE html>
<html lang="ru">

    <head>
        <meta charset="utf-8" />
        <meta http-equiv="x-ua-compatible" content="ie=edge" />
        <title>Квартиры в новостройках Барнаула</title>
        <meta content="" name="description" />
        <meta content="" name="keywords" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta content="telephone=no" name="format-detection" />
        <meta name="HandheldFriendly" content="true" />

        <!--[if (gt IE 9)|!(IE)]><!-->
        <link href="static/css/mainn81czb.min.css" rel="stylesheet" type="text/css">
        <!--<![endif]-->
        <link rel="icon" type="image/x-icon" href="favicon.ico" />
        <script>
            (function(H){H.className=H.className.replace(/\bno-js\b/,'js')})(document.documentElement)
        </script>
    </head>

    <body>
        <section class="header">
            <div class="container">
                <div class="row wrapper header__head">
                    <div class="col-sm-6 col-md-4 header__logo">
                        <div class="logo-block">
                            <div class="logo-block__img"></div>
                        </div>
                    </div>
                    <div class="col-md-4 d-sm-none d-md-block header__center text"><span>Продажа квартир только</span><span> от надежных застройщиков</span>
                    </div>
                    <div class="col-sm-6 col-md-4 header__phone"><a href="tel:83552223344">+7 (3852) 22-33-44</a>
                    </div>
                </div>
                <div class="row wrapper">
                    <div class="col-12">
                        <h1 class="header__title">Квартиры в новостройках Барнаула</h1>
                    </div>
                    <div class="col-12 d-sm-flex d-md-none header__head__text">Продажа квартир только от надежных застройщиков</div>
                </div>
                <div class="row d-sm-flex d-md-none wrapper">
                    <div class="col-12 header__head__info-block-list"><span class="yellow">Бесплатнo</span>
                        <ul>
                            <li>экскурсии по новостройкам</li>
                            <li>подбор квартиры</li>
                            <li>оформление сделки</li>
                            <li>оформление ипотеки</li>
                        </ul>
                    </div>
                </div>
                <div class="row wrapper d-sm-none d-md-flex header__info-block slick-header__info-block">
                    <div class="col-3 header__info-block__item"><span class="yellow">Бесплатные экскурсии</span><span> по новостройкам</span>
                    </div>
                    <div class="col-3 header__info-block__item"><span class="yellow">Бесплатный подбор</span><span> квартиры</span>
                    </div>
                    <div class="col-3 header__info-block__item"><span class="yellow">Бесплатное оформление</span><span> сделки</span>
                    </div>
                    <div class="col-3 header__info-block__item"><span class="yellow">Бесплатное оформление</span><span> ипотеки</span>
                    </div>
                </div>
            </div>
            <form class="order-form">
                <div class="order-form__head">
                    <div class="container">
                        <div class="row wrapper">
                            <div class="col-12 order-form__head__title">Получить подборку квартир в Барнауле</div>
                        </div>
                    </div>
                </div>
                <div class="order-form__body">
                    <div class="container">
                        <div class="row wrapper order-form__items">
                            <div class="col-sm-12 col-lg-6 col-6 order-form__item">
                                <div class="order-form-title">Тип квартиры</div>
                                <div class="order-form__item__body checkbox rooms">
                                    <label>Студия
                                        <input type="checkbox" name="checkbox-1" checked="checked" />
                                    </label>
                                    <label class="room">1к
                                        <input type="checkbox" name="checkbox-1" />
                                    </label>
                                    <label class="room">2к
                                        <input type="checkbox" name="checkbox-1" />
                                    </label>
                                    <label class="room">3к
                                        <input type="checkbox" name="checkbox-1" />
                                    </label>
                                    <label class="room">4к
                                        <input type="checkbox" name="checkbox-1" />
                                    </label>
                                    <label class="room">4к+
                                        <input type="checkbox" name="checkbox-1" />
                                    </label>
                                </div>
                            </div>
                            <div class="col-sm-12 col-lg-6 col-6 order-form__item flat">
                                <div class="order-form-title">Покупка квартиры</div>
                                <div class="order-form__item__body checkbox">
                                    <label>Наличные
                                        <input type="radio" name="radio-2" checked="checked" />
                                    </label>
                                    <label>Ипотека
                                        <input type="radio" name="radio-2" />
                                    </label>
                                    <label>Рассрочка
                                        <input type="radio" name="radio-2" />
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="row wrapper">
                            <div class="col-sm-12 col-lg-6 col-6 order-form__items selects">
                                <div class="order-form__item select">
                                    <label class="order-form-title-big">Стоимость <span class="d-sm-none d-lg-inline">квартиры<span></label>
                  <div class="order-form__item__body">
                    <select name="select-1">
                      <option disabled="disabled" selected="selected">Любая стоимость</option>
                      <option>Дорого</option>
                      <option>Дешего(все равно дорого)</option>
                    </select>
                  </div>
                </div>
                <div class="order-form__item select">
                  <label class="order-form-title">Район</label>
                  <div class="order-form__item__body">
                    <select name="select-4" multiple="multiple" data-placeholder="Любой район">
                      <option>Мой район</option>
                      <option>Железнодоржный не выбирать</option>
                    </select>
                  </div>
                </div>
              </div>
              <div class="col-sm-12 col-lg-6 col-6 order-form__items selects last">
                <div class="order-form__item select">
                  <label class="order-form-title">Срок сдачи</label>
                  <div class="order-form__item__body">
                    <select name="select-3" multiple="multiple" data-placeholder="Любой срок">
                      <option>Дорого</option>
                      <option>Дешего(все равно дорого)</option>
                    </select>
                  </div>
                </div>
                <div class="order-form__item select">
                  <label class="order-form-title">Отделка</label>
                  <div class="order-form__item__body">
                    <select name="select-2" multiple="multiple" data-placeholder="Любая отделка">
                      <option>Как у бабушки</option>
                      <option>Как у бабушки</option>
                      <option>Как у бабушки</option>
                      <option>Как у бабушки</option>
                      <option>Как у бабушки</option>
                      <option>Железнодоржный не выбирать</option>
                    </select>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="order-form__foot jq-order-form__foot">
          <div class="container">
            <div class="row wrapper">
              <div class="col-sm-12 col-md-12 col-lg-6 inputs">
                <input class="input-border" type="text" placeholder="Имя"/>
                <input class="input-border" type="tel" placeholder="Телефон"/>
              </div>
              <div class="col-sm-12 col-md-12 col-lg-6 inputs">
                <input class="input-border" type="email" placeholder="E-mail"/>
                <div class="submit-block">
                  <button class="submit-block__btn" type="submit">Получить подборку</button>
                </div>
              </div>
              <div class="col-12 politic-text">Нажимая кнопку «Отправить заявку», Вы соглашаетесь на обработку Ваших персональных данных согласно условиям Политики конфиденциальности</div>
            </div>
          </div>
        </div>
      </form>
    </section>
    <section class="features">
      <div class="container">
        <div class="row wrapper">
          <div class="col-12">
            <h2 class="features__title">С нами удобно и выгодно сотрудничать</h2>
          </div>
        </div>
        <div class="row wrapper features__items jq-features__items">
          <div class="col-3 col-xl-3 col-lg-4 col-md-6 col-sm-12">
            <div class="features-item">
              <div class="features-item__img-block"><img src="static/img/assets/features-item/piggy-bank.svg"/></div>
              <p class="features-item__title">Все наши услуги абсолютно бесплатны </p>
              <p class="features-item__desc">От поиска квартиры до оформления права собственности и получения ключей</p>
            </div>
          </div>
          <div class="col-3 col-xl-3 col-lg-4 col-md-6 col-sm-12">
            <div class="features-item">
              <div class="features-item__img-block"><img src="static/img/assets/features-item/pencil-key.svg"/></div>
              <p class="features-item__title">Покупка только желаемой квартиры </p>
              <p class="features-item__desc">Мы подбираем только квартиры по Вашим критериям. Никакой продажи остатков</p>
            </div>
          </div>
          <div class="col-3 col-xl-3 col-lg-4 col-md-6 col-sm-12">
            <div class="features-item">
              <div class="features-item__img-block"><img src="static/img/assets/features-item/speaker.svg"/></div>
              <p class="features-item__title">Полная презентация всех объектов</p>
              <p class="features-item__desc">Клиент получает полную информацию по преимуществам стройки и качеству квартир</p>
            </div>
          </div>
          <div class="col-3 col-xl-3 col-lg-4 col-md-6 col-sm-12">
            <div class="features-item">
              <div class="features-item__img-block"><img src="static/img/assets/features-item/guard.svg"/></div>
              <p class="features-item__title">Бронирование квартиры с офиса</p>
              <p class="features-item__desc">Быстрое бронирование понравившейся Вам квартиры без поездки в офис застройщика </p>
            </div>
          </div>
          <div class="col-3 col-xl-3 col-lg-4 col-md-6 col-sm-12">
            <div class="features-item">
              <div class="features-item__img-block"><img src="static/img/assets/features-item/pencil-key.svg"/></div>
              <p class="features-item__title">Покупка только желаемой квартиры </p>
              <p class="features-item__desc">Мы подбираем только квартиры по Вашим критериям. Никакой продажи остатков</p>
            </div>
          </div>
          <div class="col-3 col-xl-3 col-lg-4 col-md-6 col-sm-12">
            <div class="features-item">
              <div class="features-item__img-block"><img src="static/img/assets/features-item/speaker.svg"/></div>
              <p class="features-item__title">Полная презентация всех объектов</p>
              <p class="features-item__desc">Клиент получает полную информацию по преимуществам стройки и качеству квартир</p>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="our-base">
      <div class="container">
        <div class="row wrapper">
          <div class="col-12">
            <h2 class="our-base__title">В нашей базе</h2>
          </div>
        </div>
        <div class="row wrapper our-base__counters">
          <div class="col-md-4 counter">
            <div class="counter__top">более</div>
            <div class="counter__number">25 000</div>
            <div class="counter__bottom">квартир в новых домах</div>
          </div>
          <div class="col-md-4 counter">
            <div class="counter__top">стоимостью от</div>
            <div class="counter__number">940 000</div>
            <div class="counter__bottom">рублей</div>
          </div>
          <div class="col-md-4 counter">
            <div class="counter__top">в ипотеку от</div>
            <div class="counter__number">5 000</div>
            <div class="counter__bottom">рублей в месяц</div>
          </div>
        </div>
        <div class="row wrapper">
          <div class="offset-xl-4 col-4 col-sm-12 col-xl-4 our-base__text">
            <div class="our-base__text__top">Все квартиры только от
              <div class="mark">
                <div class="mark__text"><span>проверенных застройщиков</span>
                                        <div class="mark__line"></div>
                                </div>
                            </div>
                        </div>
                        <div class="our-base__text__bottom">Достоверность информации по каждому объекту гарантируем</div>
                    </div>
                </div>
                </div>
        </section>
        <div class="subscribe order-form__foot jq-order-form__foot">
            <div class="container">
                <div class="row wrapper">
                    <div class="col-12">
                        <h3 class="subscribe__title">Получить подборку квартир</h3>
                    </div>
                </div>
                <div class="row wrapper">
                    <div class="col-sm-12 col-md-12 col-lg-6 inputs">
                        <input class="input-border" type="text" placeholder="Имя" />
                        <input class="input-border" type="tel" placeholder="Телефон" />
                    </div>
                    <div class="col-sm-12 col-md-12 col-lg-6 inputs">
                        <input class="input-border" type="email" placeholder="E-mail" />
                        <div class="submit-block">
                            <button class="submit-block__btn" type="submit">Получить подборку</button>
                        </div>
                    </div>
                    <div class="col-12 politic-text">Нажимая кнопку «Отправить заявку», Вы соглашаетесь на обработку Ваших персональных данных согласно условиям Политики конфиденциальности</div>
                </div>
            </div>
        </div>
        <section class="computation">
            <div class="container">
                <div class="row wrapper">
                    <div class="col-12">
                        <h2 class="computation__title">Все виды расчета</h2>
                    </div>
                </div>
                <div class="row wrapper computation__items">
                    <div class="col-lg-3 col-md-6 col-sm-12 computation__items__item">
                        <div class="computation__items__item__img-block">
                            <img src="static/img/assets/computation/money.svg" />
                        </div>
                        <div class="computation__items__item__title">Расчет
                            <br>наличными</div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-12 computation__items__item">
                        <div class="computation__items__item__img-block">
                            <img src="static/img/assets/computation/pram.svg" />
                        </div>
                        <div class="computation__items__item__title">Материнский
                            <br>капитал</div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-12 computation__items__item">
                        <div class="computation__items__item__img-block">
                            <img src="static/img/assets/computation/home.svg" />
                        </div>
                        <div class="computation__items__item__title">Ипотека,
                            <br>включая военную</div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-12 computation__items__item">
                        <div class="computation__items__item__img-block">
                            <img src="static/img/assets/computation/papper.svg" />
                        </div>
                        <div class="computation__items__item__title">Рассрочка
                            <br>без переплаты</div>
                    </div>
                </div>
                <div class="row wrapper computation__additional">
                    <div class="col-12">
                        <p class="computation__additional__text">Мы поможем подготовить все необходимые документы для покупки квартиры при любом из вариантов</p>
                    </div>
                    <div class="col-12">
                        <h3 class="computation__additional__title">Банки-партнеры</h3>
                    </div>
                </div>
                <div class="row wrapper computation__banks jq-banks">
                    <div class="col-3 col-xl-3 col-lg-4 col-md-6 col-sm-12 computation__banks__item">
                        <div class="computation__banks__item__img-block">
                            <img src="static/img/assets/computation/sberbank.jpg" />
                        </div>
                    </div>
                    <div class="col-3 col-xl-3 col-lg-4 col-md-6 col-sm-12 computation__banks__item">
                        <div class="computation__banks__item__img-block">
                            <img src="static/img/assets/computation/vtb24.jpg" />
                        </div>
                    </div>
                    <div class="col-3 col-xl-3 col-lg-4 col-md-6 col-sm-12 computation__banks__item">
                        <div class="computation__banks__item__img-block">
                            <img src="static/img/assets/computation/gazprom.jpg" />
                        </div>
                    </div>
                    <div class="col-3 col-xl-3 col-lg-4 col-md-6 col-sm-12 computation__banks__item">
                        <div class="computation__banks__item__img-block">
                            <img src="static/img/assets/computation/akbars.jpg" />
                        </div>
                    </div>
                    <div class="col-3 col-xl-3 col-lg-4 col-md-6 col-sm-12 computation__banks__item">
                        <div class="computation__banks__item__img-block">
                            <img src="static/img/assets/computation/rosselhoz.jpg" />
                        </div>
                    </div>
                    <div class="col-3 col-xl-3 col-lg-4 col-md-6 col-sm-12 computation__banks__item">
                        <div class="computation__banks__item__img-block">
                            <img src="static/img/assets/computation/forbank.jpg" />
                        </div>
                    </div>
                </div>
                <div class="row wrapper computation__counters">
                    <div class="offset-xl-3 col-xl-3 col-md-6 computation__counters__item">
                        <div class="computation__counters__item__number">6%</div>
                        <div class="computation__counters__item__text">минимальная ставка
                            <br>кредитования</div>
                        <div class="computation__counters__item__btn">
                            <button class="blue" type="button" data-toggle="modal" data-target="#learnProc">Узнать свой процент</button>
                        </div>
                    </div>
                    <div class="col-xl-3 col-md-6 computation__counters__item">
                        <div class="computation__counters__item__number">10%</div>
                        <div class="computation__counters__item__text">минимальный
                            <br>первоначальный взнос</div>
                        <div class="computation__counters__item__btn">
                            <button class="blue" type="button" data-toggle="modal" data-target="#learnIpot">Рассчитать ипотеку</button>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="we-first">
            <div class="container">
                <div class="row wrapper">
                    <div class="col-12">
                        <h2 class="we-first__title">Мы первыми узнаем <br> о всех акциях застройщиков</h2>
                    </div>
                    <div class="col-12 we-first__text-top">
                        <p>Оставьте заявку и получите все самые выгодные предложения застройщиков на данный момент</p>
                    </div>
                </div>
            </div>
            <div class="order-form__foot jq-order-form__foot">
                <div class="container">
                    <div class="row wrapper">
                        <div class="col-sm-12 col-md-12 col-lg-6 inputs">
                            <input class="input-border" type="text" placeholder="Имя" />
                            <input class="input-border" type="tel" placeholder="Телефон" />
                        </div>
                        <div class="col-sm-12 col-md-12 col-lg-6 inputs">
                            <input class="input-border" type="email" placeholder="E-mail" />
                            <div class="submit-block">
                                <button class="submit-block__btn" type="submit">Отправить заявку</button>
                            </div>
                        </div>
                        <div class="col-12 politic-text">Нажимая кнопку «Отправить заявку», Вы соглашаетесь на обработку Ваших персональных данных согласно условиям Политики конфиденциальности</div>
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row wrapper">
                    <div class="col-12 hr-block">
                        <div class="hr"></div>
                    </div>
                    <div class="col-12 we-first__text-bottom">
                        <p>По всем вопросам, связанным с приобретением жилья в новостройках, обращайтесь по телефону:</p>
                    </div>
                    <div class="col-12 we-first__tel-block"><a class="we-first__tel" href="tel:83852602000">+7 (3852) 602-000</a>
                    </div>
                </div>
            </div>
        </section>
        <!-- The Modal-->
        <div class="modal" id="learnProc">
            <div class="modal-dialog">
                <div class="modal-content">
                    <!-- Modal Header-->
                    <div class="modal-header">
                        <h4 class="modal-title">Узнать свой процент</h4>
                        <button class="close" type="button" data-dismiss="modal">×</button>
                    </div>
                    <!-- Modal body-->
                    <div class="modal-body">
                        <form class="container">
                            <div class="row">
                                <div class="col-sm-12">
                                    <input class="input-border blue" type="text" placeholder="Имя">
                                </div>
                                <div class="col-sm-12">
                                    <input class="input-border blue" type="tel" placeholder="Телефон">
                                </div>
                                <div class="col-sm-12">
                                    <input class="input-border blue" type="email" placeholder="E-mail">
                                </div>
                                <div class="col-sm-12">
                                    <div class="submit-block">
                                        <button class="blue" type="submit">Узнать свой процент</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal" id="learnIpot">
            <div class="modal-dialog">
                <div class="modal-content">
                    <!-- Modal Header-->
                    <div class="modal-header">
                        <h4 class="modal-title">Рассчитать ипотеку</h4>
                        <button class="close" type="button" data-dismiss="modal">×</button>
                    </div>
                    <!-- Modal body-->
                    <div class="modal-body">
                        <form class="container">
                            <div class="row">
                                <div class="col-sm-12 inputs">
                                    <input class="input-border blue" type="text" placeholder="Имя">
                                    <input class="input-border blue" type="tel" placeholder="Телефон">
                                </div>
                                <div class="col-sm-12 inputs">
                                    <input class="input-border blue" type="email" placeholder="E-mail">
                                    <div class="submit-block">
                                        <button class="blue" type="submit">Рассчитать ипотеку</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </body>
    <footer>
        <div class="container">
            <div class="row wrapper">
                <div class="footer__container">
                    <div class="copyr">© Магазин новостроек. 2019.</div>
                    <div class="politic-link"><a href="#">Политика конфиденциальности</a>
                    </div>
                </div>
            </div>
        </div>
    </footer>


    <script src="static/js/mainn81czb.js"></script>

</html>