<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link type="text/css" rel="stylesheet" href="css/style.css">
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <title>GoodSystems</title>
  </head>
  <body>

    <div class="test"><img src="images/ps_main22.jpg" alt=""><img class="_1024" src="images/ps_main_1024.jpg" alt=""><img class="_768" src="images/ps_main_768.jpg" alt=""><img class="_320" src="images/ps_main_320.jpg" alt=""></div>
    <div class="first_screen">
      <header>
        <div class="logo"><a href="#"><img src="img/logo.png" alt=""></a></div>
        <div class="top_menu"><i class="t_l"></i><i class="t_r"></i><i class="b_l"></i><i class="b_r"></i></div>
        <!--<ul class="top-menu-list">-->
          <!--<li class="top-menu-list__item"><a href="#">Работы</a></li>-->
          <!--<li class="top-menu-list__item"><a href="#">Услуги</a></li>-->
          <!--<li class="top-menu-list__item"><a href="#">О нас</a></li>-->
          <!--<li class="top-menu-list__item"><a href="#">Контакты</a></li>-->
          <!--<li class="top-menu-list__item"><a href="#">Обсудить проект</a></li>-->
        <!--</ul>-->

        <a class="phone" href="tel:+7 (3852) 57-07-59">+7 (3852) 57-07-59</a>


        <div class="top-menu-header">
          <div class="logo logo--top-menu"><a href="#"><img src="img/logo.png" alt=""></a></div>
          <div class="top_menu top_menu--top-menu"><i class="t_l"></i><i class="t_r"></i><i class="b_l"></i><i class="b_r"></i></div><a class="phone phone--top_menu" href="tel:+7 (3852) 57-07-59">+7 (3852) 57-07-59</a>
        </div>
        <div id="menu" class="top-menu">
          <ul class="top-menu-list">
            <li class="top-menu-list__item link "><a href="#">О нас</a></li>
            <li class="top-menu-list__item link "><a href="#">Проекты</a></li>
            <li class="top-menu-list__item link "><a href="#">Услуги</a></li>
            <li class="top-menu-list__item link "><a href="./contacts.html">Контакты</a></li>
            <li class="top-menu-list__item button-green button-green--mob-menu"><a href="#">Обсудить проект</a></li>
            <li class="top-menu-list__item"><a class="phone phone--top-menu" href="tel:83852570759">+7 (3852) 57-07-59</a></li>
          </ul>
        </div>

      </header>
















      <div class="other_top">
        <div class="top_slider_time">
          <ul>
            <li><span><i></i></span></li>
            <li><span><i></i></span></li>
            <li><span><i></i></span></li>
            <li><span><i></i></span></li>
          </ul>
        </div>
        <div class="top_slider_arrow"></div>
        <div class="wrapper">
          <div class="first_screen_in">
            <div class="top_slider">
              <div class="slider_items">
                <div class="slider_item">
                  <p class="top">digital-агентство  |  2014-2017</p>
                  <div class="wrap_grad">
                    <p class="title">Разработка сайтов и онлайн-сервисов, нацеленных на результат</p>
                  </div>
                  <div class="bottom_block">
                    <p>Адаптивные сайты — наша самая большая страсть</p>
                  </div>
                </div>
                <div class="slider_item">
                  <p class="top">digital-агентство  |  2014-2017</p>
                  <div class="wrap_grad">
                    <p class="title">Разработка сайтов и онлайн-сервисов, нацеленных на результат</p>
                  </div>
                  <div class="bottom_block">
                    <p>Адаптивные сайты — наша самая большая страсть</p>
                  </div>
                </div>
                <div class="slider_item">
                  <p class="top">digital-агентство  |  2014-2017</p>
                  <div class="wrap_grad">
                    <p class="title">Разработка сайтов и онлайн-сервисов, нацеленных на результат</p>
                  </div>
                  <div class="bottom_block">
                    <p>Адаптивные сайты — наша самая большая страсть</p>
                  </div>
                </div>
                <div class="slider_item">
                  <p class="top">digital-агентство  |  2014-2017</p>
                  <div class="wrap_grad">
                    <p class="title">Разработка сайтов и онлайн-сервисов, нацеленных на результат</p>
                  </div>
                  <div class="bottom_block">
                    <p>Адаптивные сайты — наша самая большая страсть</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div><span class="scr_bottom" id="scr_bottom"></span>
      </div>
      <div class="fs_back"><img src="img/fs_back.jpg" alt=""></div>
    </div>




    <div class="index_block">
      <div class="wrapper">
        <div class="head">
          <h2>Наши работы не только <br>креативны, но и <span>полезны</span></h2>
          <p class="title_desc">Мы стремимся к тому, чтобы практически каждый пиксель нашей работы, каждый знак кода был направлен на достижение цели, ради которой создавался продукт. Именно поэтому мы тщательно подходим к каждому этапу производственного процесса и долго еще приглядываем за своими творениями.</p>
        </div>
        <div class="work_items">
          <div class="work_item _900">
            <div class="img"><a class="link" href="#"></a><img src="images/work/1.png" alt=""/><span class="effekt" style="background:#3eaab7;"></span>
              <div class="description" style="background:#3eaab7;">
                <div class="description_in">
                  <p></p>
                  <div class="info">
                    <p class="makets">70 макетов</p>
                    <p class="time">2,5 месяца</p>
                  </div>
                </div>
              </div>
            </div>
            <div class="bottom">
              <div class="left">
                <div class="line" style="background:#3eaab7;"></div>
              </div>
              <div class="right"><a class="title" href="#">Hello honey</a>
                <p class="desc">Адаптивный Интернет-магазин</p>
              </div>
            </div>
          </div>
          <div class="work_item _550">
            <div class="img"><a class="link" href="#"></a><img src="images/work/2.png" alt=""/><span class="effekt" style="background:#c99d66;"></span>
              <div class="description" style="background:#c99d66;">
                <div class="description_in">
                  <p>Удобный и интуитивно понятный Интернет-магазин для продавца качественного мёда и подарков из разных уголков России. Настроена интеграция с CRM, 1C, Яндекс.Доставкой и другими сервисами</p>
                  <div class="info">
                    <p class="makets">70 макетов</p>
                    <p class="time">2,5 месяца</p>
                  </div>
                </div>
              </div>
            </div>
            <div class="bottom">
              <div class="left">
                <div class="line" style="background:#c99d66;"></div>
              </div>
              <div class="right"><a class="title" href="#">Антикварный</a>
                <p class="desc">Адаптивный сайт</p>
              </div>
            </div>
          </div>
          <div class="work_item _750">
            <div class="img"><a class="link" href="#"></a><img src="images/work/3.png" alt=""/><span class="effekt" style="background:#007bb4;"></span>
              <div class="description" style="background:#007bb4;">
                <div class="description_in">
                  <p>Удобный и интуитивно понятный Интернет-магазин для продавца качественного мёда и подарков из разных уголков России. Настроена интеграция с CRM, 1C, Яндекс.Доставкой и другими сервисами</p>
                  <div class="info">
                    <p class="makets">70 макетов</p>
                    <p class="time">2,5 месяца</p>
                  </div>
                </div>
              </div>
            </div>
            <div class="bottom">
              <div class="left">
                <div class="line" style="background:#007bb4;"></div>
              </div>
              <div class="right"><a class="title" href="#">Воды Кавказа</a>
                <p class="desc">Логотип, лэндинг</p>
              </div>
            </div>
          </div>
          <div class="work_item _900">
            <div class="img"><a class="link" href="#"></a><img src="images/work/4.png" alt=""/><span class="effekt" style="background:#949494;"></span>
              <div class="description" style="background:#949494;">
                <div class="description_in">
                  <p>Удобный и интуитивно понятный Интернет-магазин для продавца качественного мёда и подарков из разных уголков России. Настроена интеграция с CRM, 1C, Яндекс.Доставкой и другими сервисами</p>
                  <div class="info">
                    <p class="makets">70 макетов</p>
                    <p class="time">2,5 месяца</p>
                  </div>
                </div>
              </div>
            </div>
            <div class="bottom">
              <div class="left">
                <div class="line" style="background:#949494;"></div>
              </div>
              <div class="right"><a class="title" href="#">Diana D</a>
                <p class="desc">Адаптивный сайт</p>
              </div>
            </div>
          </div>
          <div class="work_item _550">
            <div class="img"><a class="link" href="#"></a><img src="images/work/5.png" alt=""/><span class="effekt" style="background:#007bb4;"></span>
              <div class="description" style="background:#007bb4;">
                <div class="description_in">
                  <p>Удобный и интуитивно понятный Интернет-магазин для продавца качественного мёда и подарков из разных уголков России. Настроена интеграция с CRM, 1C, Яндекс.Доставкой и другими сервисами</p>
                  <div class="info">
                    <p class="makets">70 макетов</p>
                    <p class="time">2,5 месяца</p>
                  </div>
                </div>
              </div>
            </div>
            <div class="bottom">
              <div class="left">
                <div class="line" style="background:#007bb4;"></div>
              </div>
              <div class="right"><a class="title" href="#">Mevisa</a>
                <p class="desc">Адаптивный сайт</p>
              </div>
            </div>
          </div>
          <div class="work_item _550">
            <div class="img"><a class="link" href="#"></a><img src="images/work/6.png" alt=""/><span class="effekt" style="background:#00a88e;"></span>
              <div class="description" style="background:#00a88e;">
                <div class="description_in">
                  <p>Удобный и интуитивно понятный Интернет-магазин для продавца качественного мёда и подарков из разных уголков России. Настроена интеграция с CRM, 1C, Яндекс.Доставкой и другими сервисами</p>
                  <div class="info">
                    <p class="makets">70 макетов</p>
                    <p class="time">2,5 месяца</p>
                  </div>
                </div>
              </div>
            </div>
            <div class="bottom">
              <div class="left">
                <div class="line" style="background:#00a88e;"></div>
              </div>
              <div class="right"><a class="title" href="#">Джуниори</a>
                <p class="desc">Лэндинг</p>
              </div>
            </div>
          </div>
          <div class="all_works">
            <div class="left">
              <p class="num">25</p>
            </div>
            <div class="right">
              <p>интересных работ <br>в нашем портфолио</p><a class="h_border white_back green_line" href="#">Все работы<i></i></a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="index_block">
      <div class="wrapper">
        <div class="head">
          <h2>Мы умеем делать и <br>делаем это <span>с любовью</span></h2>
          <p class="title_desc">Мы помогаем нашим клиентам с решением целого перечня задач. Но нам гораздо интереснее, если клиент доверит нам вывод нового продукта или услуги на рынок с самого начала (вплоть до нейминга и разработки логотипа), а не только разработку сайта. </p>
        </div>
        <div class="services_items slider_320">
          <div class="item" data-svg="svg_projecting">
            <div class="svg svg_draw hidd">
              <svg id="projecting"></svg>
            </div>
            <p class="title">Проектирование</p>
            <p>Подробные документальные технические задания и интерактивные прототипы Вашего будущего сайта или Web-сервиса</p>
          </div>
          <div class="item" data-svg="svg_design">
            <div class="svg svg_draw hidd">
              <svg id="design"></svg>
            </div>
            <p class="title">Дизайн</p>
            <p>Оригинальный и эффективный дизайн сайта, яркий и незабываемый логотип и фирменный стиль</p>
          </div>
          <div class="item" data-svg="svg_development">
            <div class="svg svg_draw hidd">
              <svg id="development"></svg>
            </div>
            <p class="title">Разработка</p>
            <p>Лэндинг с высокой конверсией, стильный корпоративный сайт, качественный Интернет-магазин, цепляющий промо-сайт</p>
          </div>
          <div class="item" data-svg="svg_support">
            <div class="svg svg_draw hidd">
              <svg id="support"></svg>
            </div>
            <p class="title">Поддержка</p>
            <p>Оперативная дизайн и техническая поддержка проектов собственной и сторонней разработки</p>
          </div>
        </div>
      </div>
    </div>
    <div class="index_block klienty_out">
      <div class="wrapper">
        <div class="head">
          <h2>Наши <br>клиенты</h2>
        </div>
        <div class="row">
          <div class="client_slider">
            <div class="client_slider_item">
              <div class="text">
                <p>Со специалистами команды «Полезные системы» я сотрудничаю давно и плодотворно. Наш проект развивается в тесном сотрудничестве, и даже не представляю, как бы все сложилось, если бы на старте я выбрал других подрядчиков.</p>
              </div>
              <div class="autor">
                <p><a href="#">Максим Пешков</a><span>|</span>Hello honey</p>
              </div>
            </div>
            <div class="client_slider_item">
              <div class="text">
                <p>Со специалистами команды «Полезные системы» я сотрудничаю давно и плодотворно. Наш проект развивается в тесном сотрудничестве, и даже не представляю, как бы все сложилось, если бы на старте я выбрал других подрядчиков.</p>
              </div>
              <div class="autor">
                <p><a href="#">Максим Пешков</a><span>|</span>Hello honey</p>
              </div>
            </div>
            <div class="client_slider_item">
              <div class="text">
                <p>Со специалистами команды «Полезные системы» я сотрудничаю давно и плодотворно. Наш проект развивается в тесном сотрудничестве, и даже не представляю, как бы все сложилось, если бы на старте я выбрал других подрядчиков.</p>
              </div>
              <div class="autor">
                <p><a href="#">Максим Пешков</a><span>|</span>Hello honey</p>
              </div>
            </div>
            <div class="client_slider_item">
              <div class="text">
                <p>Со специалистами команды «Полезные системы» я сотрудничаю давно и плодотворно. Наш проект развивается в тесном сотрудничестве, и даже не представляю, как бы все сложилось, если бы на старте я выбрал других подрядчиков.</p>
              </div>
              <div class="autor">
                <p><a href="#">Максим Пешков</a><span>|</span>Hello honey</p>
              </div>
            </div>
          </div>
          <div class="logotip_slider">
            <div class="logotip_slider_item"><img src="images/logo/_1.png" alt=""><span></span><span></span><span></span><span></span></div>
            <div class="logotip_slider_item"><img src="images/logo/_2.png" alt=""><span></span><span></span><span></span><span></span></div>
            <div class="logotip_slider_item"><img src="images/logo/_3.png" alt=""><span></span><span></span><span></span><span></span></div>
            <div class="logotip_slider_item"><img src="images/logo/_4.png" alt=""><span></span><span></span><span></span><span></span></div>
            <div class="logotip_slider_item"><img src="images/logo/_5.png" alt=""><span></span><span></span><span></span><span></span></div>
            <div class="logotip_slider_item"><img src="images/logo/_6.png" alt=""><span></span><span></span><span></span><span></span></div>
            <div class="logotip_slider_item"><img src="images/logo/_7.png" alt=""><span></span><span></span><span></span><span></span></div>
            <div class="logotip_slider_item"><img src="images/logo/_8.png" alt=""><span></span><span></span><span></span><span></span></div>
            <div class="logotip_slider_item"><img src="images/logo/_9.png" alt=""><span></span><span></span><span></span><span></span></div>
            <div class="logotip_slider_item"><img src="images/logo/_10.png" alt=""><span></span><span></span><span></span><span></span></div>
            <div class="logotip_slider_item"><img src="images/logo/_1.png" alt=""><span></span><span></span><span></span><span></span></div>
            <div class="logotip_slider_item"><img src="images/logo/_2.png" alt=""><span></span><span></span><span></span><span></span></div>
            <div class="logotip_slider_item"><img src="images/logo/_3.png" alt=""><span></span><span></span><span></span><span></span></div>
            <div class="logotip_slider_item"><img src="images/logo/_4.png" alt=""><span></span><span></span><span></span><span></span></div>
            <div class="logotip_slider_item"><img src="images/logo/_5.png" alt=""><span></span><span></span><span></span><span></span></div>
            <div class="logotip_slider_item"><img src="images/logo/_6.png" alt=""><span></span><span></span><span></span><span></span></div>
            <div class="logotip_slider_item"><img src="images/logo/_7.png" alt=""><span></span><span></span><span></span><span></span></div>
            <div class="logotip_slider_item"><img src="images/logo/_8.png" alt=""><span></span><span></span><span></span><span></span></div>
            <div class="logotip_slider_item"><img src="images/logo/_9.png" alt=""><span></span><span></span><span></span><span></span></div>
            <div class="logotip_slider_item"><img src="images/logo/_10.png" alt=""><span></span><span></span><span></span><span></span></div>
          </div>
        </div>
      </div>
    </div>
    <div class="new_project">
      <div class="white_back_new_project">

        <from class="form" action="a">
          <div class="from__row">
            <!--<div class="col-3">-->
              <input class="styled index-from-input" type="text" data1 placeholder="Имя">
            <!--</div>-->
            <!--<div class="col-3">-->
              <input class="styled index-from-input"  placeholder="Фамилия" type="text">
            <!--</div>-->

          </div>
          <div class="from__row from__row--witch-select">
            <div class="col-3">
              <input class="styled index-from-input" type="text" placeholder="ТЕКС">
            </div>
          <select class="form__select">
            <option default="on"></option>
            <option>1</option>
            <option>2</option>
            <option>asd as1edsa sdge </option>
          </select>
          </div>
          <div class="from__row">
            <input class="file" type="file">

          </div>
          <div class="from__row">
            <input class="button-green" type="submit" value="Отправить">
            <label class="checkbox-label"><input type="checkbox"> Текст текст и еще раз</label>
          </div>
        </from>


      </div>
      <div class="wrapper">
        <div class="title">
          <h2>Есть для нас проект?</h2>
        </div><span class=" margin_ h_border green_back white_line">Давайте обсудим <i></i></span>
      </div>

    </div>










    <footer>
      <div class="wrapper">
        <div class="top">
          <ul>
            <li><a href="#">Работы</a></li>
            <li><a href="#">Услуги</a></li>
            <li><a href="#">О нас</a></li>
            <li><a href="./contacts.html">Контакты</a></li>
          </ul>
        </div>
        <div class="bottom">
          <div class="left">
            <p>г. Барнаул, пр. Социалистический 34, офис 323</p><a href="tel:+7 (3852) 57-07-59">+7 (3852) 57-07-59</a>
          </div>
          <div class="right">
            <p>© 2014-2017. Полезные системы</p><a href="#">Политика конфиденциальности</a>
          </div>
        </div>
      </div>
    </footer>
  </body>
  <link type="text/css" rel="stylesheet" href="css/slick-theme.css">
  <link type="text/css" rel="stylesheet" href="css/slick.css">
  <script type="text/javascript" src="js/slick.js"></script>
  <link type="text/css" rel="stylesheet" href="css/jquery.formstyler.css">
  <link type="text/css" rel="stylesheet" href="css/jquery.formstyler.theme.css">
  <link type="text/css" rel="stylesheet" href="css/nice-select.css">
  <script type="text/javascript" src="js/jquery.formstyler.js"></script>
  <script type="text/javascript" src="js/jquery.maskedinput.js"></script>
  <script type="text/javascript" src="js/jquery.gradienttext.js"></script>
  <script type="text/javascript" src="js/jquery.nice-select.js"></script>
  <script type="text/javascript" src="js/snap.svg.js"></script>
  <script type="text/javascript" src="js/main.js"></script>
</html>