<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link type="text/css" rel="stylesheet" href="css/style.css">
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <title>GoodSystems</title>
  </head>
  <body>
  <div>
    <input class="styled" type="text" placeholder="ТЕКС">
  </div>
  <from class="form" action="a">
    <div class="from__row">
      <div class="col-3">
        <input class="styled" type="text" data1 placeholder="Имя">
      </div>
      <div class="col-3">
        <input class="styled" data2 placeholder="Фамилия" type="text">
      </div>

    </div>
    <div class="from__row from__row--witch-select">
      <div class="col-3">
        <input class="styled" type="text" placeholder="ТЕКС">
      </div>
      <select class="form__select">
        <option default="on"></option>
        <option>1</option>
        <option>2</option>
        <option>asd as1edsa sdge </option>
      </select>
    </div>
    <div class="from__row">
      <input class="file" type="file">

    </div>
    <div class="from__row">
      <input class="button-green" type="submit" value="Отправить">
      <label class="checkbox-label"><input type="checkbox"> Текст текст и еще раз</label>
    </div>
  </from>
  </body>
  <link type="text/css" rel="stylesheet" href="css/slick-theme.css">
  <link type="text/css" rel="stylesheet" href="css/slick.css">
  <script type="text/javascript" src="js/slick.js"></script>
  <link type="text/css" rel="stylesheet" href="css/jquery.formstyler.css">
  <link type="text/css" rel="stylesheet" href="css/jquery.formstyler.theme.css">
  <link type="text/css" rel="stylesheet" href="css/nice-select.css">
  <script type="text/javascript" src="js/jquery.formstyler.js"></script>
  <script type="text/javascript" src="js/jquery.maskedinput.js"></script>
  <script type="text/javascript" src="js/jquery.gradienttext.js"></script>
  <script type="text/javascript" src="js/jquery.nice-select.js"></script>
  <script type="text/javascript" src="js/snap.svg.js"></script>
  <script type="text/javascript" src="js/main.js"></script>
</html>