@font-face {
    font-family: "Muller";
    src: url("../fonts/Muller/MullerBold.otf") format("opentype");
    font-style: normal;
    font-weight: 700;
}

@font-face {
    font-family: "Muller";
    src: url("../fonts/Muller/MullerMedium.otf") format("opentype");
    font-style: normal;
    font-weight: 500;
}

@font-face {
    font-family: "Muller";
    src: url("../fonts/Muller/MullerRegular.otf") format("opentype");
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: "Muller";
    src: url("../fonts/Muller/MullerLight.otf") format("opentype");
    font-style: normal;
    font-weight: 300;
}

@font-face {
    font-family: "angleciadisplay";
    src: url("../fonts/angleciadisplay/AngleciaProDisplay-Regular.otf") format("opentype");
    font-style: normal;
    font-weight: 400;
}